name: Auto Sync Upstream Branch
on:
  schedule:
    - cron: 0 16 * * *
  workflow_dispatch:
jobs:
  config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Config
        run: |
          {
            echo 'matrix<<EOF'
            cat data/auto-sync-upstream-branch.json
            echo 'EOF'
          } >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT
  sync:
    needs: config
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.config.outputs.matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.source.repository }}
          ref: ${{ matrix.source.ref }}
          fetch-depth: 0
      - name: Sync
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git push -f git@github.com:${{ matrix.target.repository }}.git ${{ matrix.source.ref }}:${{ matrix.target.ref }}


