name: Auto Sync Upstream Branch
on:
  schedule:
    - cron: 0 16 * * *
  workflow_dispatch:
jobs:
  config:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ env.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Config
        run: |
          {
            echo 'matrix<<EOF'
            cat data/auto-sync-upstream-branch.json
            echo EOF
          } >> "$GITHUB_ENV"
  test:
    needs: config
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          echo "${{ fromJSON(needs.config.outputs.matrix) }}"
